{{> nav}}

<div id="details-container" class="container">
  <div class="row bg-light text-dark">
    <h1>Movie title: {{title}}</h1>

    <div class="col-md-8">
      <img class="img-thumbnail" src="{{imageUrl}}" alt="{{title}}">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="my-3 ">Movie Description</h3>
      <p>{{description}}</p>
      {{#if isCreator}}
        <a class="btn btn-danger" href="/delete/{{movieId}}">Delete</a>
        <a class="btn btn-warning" href="/edit/{{movieId}}">Edit</a>
      {{else}}
        <a class="btn btn-primary" href="/like/{{movieId}}">Like</a>
      {{/if}}
      <span class="enrolled-span">Liked 1</span>
    </div>
  </div>
</div>

{{> footer}}