<div class="destination-ticket">
  <div class="destination-left">
    <img src="{{imgUrl}}" alt="{{city}}">
  </div>
  <div class="destination-right">
    <div>
      <h3>{{city}}</h3><span>{{departureDate}}</span>
    </div>
    <div>{{destination}}</div>
    <p>{{duration}} days </p>
    <a href="/delete/{{id}}" class="remove">REMOVE</a>
    <a href="/details/{{id}}" class="details">Details</a>
  </div>

</div>