<div class="added-destinations">
  <a href="/details/{{id}}" class="added-destination">
    <img src="{{imgUrl}}" alt="{{city}}" class="picture-added-destination">
    <h3>{{city}}</h3>
    <span>{{destination}} </span><span>{{departureDate}}</span>
  </a>